<section class="app__content">
  <p>This application was created to test out NGRX Store implementation for Angular.</p>
  <div>
    <p>Some of the technologies used:</p>
    <ul>
      <li>Angular 5.2</li>
      <li>Typescript</li>
      <li>NGRX Store</li>
      <li>Prettier</li>
      <li>CSS Grid</li>
      <li>BackstopJS</li>
    </ul>
  </div>
  <p>Doc for this can be found <a href="https://github.com/HarlesPilter/ngrx-store" target="_blank">https://github.com/HarlesPilter/ngrx-store</a></p>
</section>
