//colors
$color-white: #fff;
$color-blue: #364fc8;
$color-gray: #212121;

// fonts
$font-family: 'Open Sans', sans-serif;

// timings
$fade-animation-time: 0.225s;

// transitions
$fade-transition: $fade-animation-time ease-in-out;
