//colors
$color-white: #fff;
$color-black: #000;
$color-blue: #364fc8;
$color-gray: #212121;
$color-gray--light: #333333;
$color-yellow: #d8a900;

// fonts
$font-family: 'Open Sans', sans-serif;

// timings
$fade-animation-time: 0.225s;

// transitions
$fade-transition: $fade-animation-time ease-in-out;
