<app-search class="movies__search"></app-search>
<app-filter class="movies__filter"></app-filter>
<section class="movies app__content">
  <ul class="movies__list">
    <ng-container *ngFor="let movie of (movies$ | async)">
      <li class="movies__item">
        <app-movie [movie]="movie" (movieSelect)="onMovieSelect($event)"></app-movie>
      </li>
      <li *ngIf="movie?.id === (selectedMovie$ | async)" class="movies__item movies__item--details">
        <app-movie-details [movie]="movie"></app-movie-details>
      </li>
    </ng-container>
  </ul>
</section>
