@import 'src/scss/abstracts/variables';

.movies {
  &__filter {
    z-index: 10;
    position: sticky;
    top: 0;
  }
  &__search {
    z-index: 11;
    position: sticky;
    top: 1.25rem;
    right: 2rem;
    margin-top: -4rem;
    margin-bottom: 0.5rem;
    margin-left: calc(100% - 22rem);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    border: 1px solid $color-gray--light;
    &--details {
      margin: 0 -2rem;
      border-left: none;
      border-right: none;
      grid-column: 1 / -1;
    }
  }
}
