<section class="filter">
  <ul class="filter__list">
    <li class="filter__item">
      <button type="button" class="filter__button">All genres</button>
    </li>
    <li class="filter__item">
      <button type="button" class="filter__button">Comedy</button>
    </li>
    <li class="filter__item">
      <button type="button" class="filter__button">Drama</button>
    </li>
    <li class="filter__item">
      <button type="button" class="filter__button">Classics</button>
    </li>
  </ul>
</section>
