@import 'src/scss/abstracts/variables';

.filter {
  padding: 1rem 2rem;
  background: $color-blue;
  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 20rem);
    margin: 0 -1rem;
    padding: 0;
    list-style: none;
  }
  &__item {
  }
  &__button {
    padding: 0.875rem 1rem;
    font-family: $font-family;
    font-weight: 600;
    color: $color-white;
    opacity: 0.5;
    border: none;
    background: none;
    cursor: pointer;
    transition: all $fade-transition;
    &--active {
      opacity: 1;
    }
  }
}
