@import 'src/scss/abstracts/variables';

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 1rem;
  background: $color-blue;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
    color: $color-white;
    opacity: 0.5;
  }
}
